# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
.env
*.auto.tfvars
secrets.tfvars

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Généré
architecture.dot
architecture.png
architecture-auto.mmd

# Exclure totalement le dossier docs et tout son contenu
/docs/

# Exclure totalement le dossier sonarqube et tout son contenu
/sonarqube/

# Exclure des dossiers spécifiques à l'intérieur de k8s
/k8s/catalogue/
/k8s/front/
/k8s/netpol/
/k8s/payment/
/k8s/order/


